html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, s
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
    --unit: 14px;
    --accent: #ff0000;
    --shadow: #adadad;
}

html {
    overflow: hidden;
}

body {

}

#container {
    overflow: scroll;
    max-height: 100vh;
    padding-left: var(--unit);
    scroll-snap-type: y mandatory;
}

table {
    font-family: monospace;
    font-size: var(--unit);
    line-height: var(--unit);
    border-collapse: collapse;
/*     width: 200vw; */
}

col {
/*     width: 25%; */
}

col:nth-of-type(1) {
    width: 0%;
}

th {
    text-align: left;
    position: sticky;
    top: 0;
    padding-top: var(--unit);
    padding-bottom: var(--unit);
    background-color: white;
    cursor: pointer;
}

th:first-of-type {
    color: white;    
}

tr {
    scroll-snap-align: start;

}

td {
    padding-bottom: var(--unit);
    padding-right: var(--unit);
}

tr:nth-of-type(odd) td {
/*     background-color: #fafafa; */
  }

em {
    color: var(--shadow);
}

b {
    color: var(--accent);
}

@media (max-width: 800px) {

    * {
        --unit: 12px;
    }

}

@media (max-width: 660px) {

    * {
        --unit: 10px;
    }
    
}

@media (max-width: 540px) {

    * {
        --unit: 8px;
    }
    
}

@media (max-width: 430px) {

    tr {
        display: flex;
        flex-direction: column;
    }
    
}